[submodule "vendor/bdwgc"]
	path = bdwgc-alloc-sys/vendor/bdwgc
	url = https://github.com/bdwgc/bdwgc
[submodule "vendor/libatomic_ops"]
	path = bdwgc-alloc-sys/vendor/libatomic_ops
	url = https://github.com/bdwgc/libatomic_ops
